OPENAI_API_BASE_URL=
OPENAI_API_KEY=
OPENAI_LLM_MODEL=
OPENAI_EMBEDDING_MODEL=

OPENAI_IMAGE_BASE_URL=
OPENAI_IMAGE_API_KEY=
OPENAI_IMAGE_MODEL=

CHROMA_HOST=localhost
CHROMA_PORT=8001
CHROMA_COLLECTION=kicau_rag

LARAVEL_API_URL=http://localhost:8000